*, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
    margin:0;
}
    
// HEADER
.notice-bar{
    color: #590289;
    line-height: 30px;
    background: rgba(255,150,0,.2);
    font-size: 12px;
    text-align: center;
    padding: 0 16px;
    img{
        width: 12px;
        height: 12px;
        cursor: pointer;
        margin: 0 0 4px 0;
    }
}

.navbar{
    background: #fff;
}
.nav-item:first-child {
    margin-left: 35px;
}
.nav-item {
    margin-right: 60px;
    padding-top: 6px;
}
.nav-link{
    font-size: 18px;
    line-height: 18px;
    color: #666;
    padding: 0 !important;
    border-bottom: 1.5px solid #fff;
    &:hover{
        color: #0056b3 !important;
        border-bottom: 1.5px solid #0056b3;
    }
}
.nav-link-active{
    color: #590289 !important;
}
.nav-item-unlock-wallet{
    width: 170px;
    font-size: 18px;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    background: #590289;
    line-height: 40px;
    cursor: pointer;
    color: #fff;
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}

// BODY

.main-page{
    min-height: 400px;
    background: rgb(221, 221, 221);
}

// Footer

footer{
    background: #590289;
    padding: 40px 0;
    color: #fff;
}
.footer-text1{
    p{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 50px;
    }
}
.footer-text2{
    p{
        font-size: 16px;
        font-weight: 500;
    }
}
.footer-icon-box{
    img{
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        a{
            color: #fff;
            &:hover{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}



@media (max-width: 991px){
   
}
@media (max-width: 767px){
    .notice-bar{
        text-align: left;
    }
    .nav-item:first-child {
        margin-left: 0;
    }
    .nav-item {
        margin-right: 0;
        margin-top: 20px;
    }
    .nav-link{
        display: inline;
    }
    .navbar{
        text-align: center;
        form{
            justify-content: center;
        }
        .nav-item-unlock-wallet{
            margin-top: 20px;
            width: 100%;
        }
    }
}