.data-feed-top {
    background-size: cover;
    min-height: 960px;
    padding-top: 60px;
  
    background: #fff url(../images/photos/dataFeed.png) 50% no-repeat;
    .main-heading {
      font-size: 60px;
      font-weight: 700;
    }
  
    .six-boxes {
      .inside-box {
        height: 263px;
  
        border-radius: 12px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #fff, #f4f5ff);
        box-shadow: 0 0 20px #ccd2fe;
        border-radius: 18px;
        margin-left: 20px;
        .first {
          font-size: 20px;
          font-weight: 700;
          line-height: 1;
          color: #590289;
          text-align: center;
        }
        .second {
          font-size: 20px;
          font-weight: 500;
          color: #333;
          margin-top: 50px;
          text-align: center;
          line-height: 1;
        }
        .third {
          font-size: 14px;
          font-weight: 400;
          color: #333;
          line-height: 1;
          margin-top: 50px;
        }
        .fourth {
          margin-top: 30px;
          overflow: hidden;
          .icon-in {
            margin-right: 10px;
  
            width: 33px;
            height: 33px;
            -o-object-fit: contain;
            object-fit: contain;
          }
        }
        .more-feeds {
          font-size: 20px;
          line-height: 48px;
          color: #333;
          text-align: center;
        }
      }
    }
  }
  
  .sub-heading {
    font-size: 16px;
  }
  
  .low-heading {
    font-size: 60px;
    color: #333;
    margin-top: 2px;
    margin-bottom: 30px;
  
    text-align: center;
    line-height: 1;
  }
  .mid-heading {
    text-align: center;
    line-height: 1;
    color: #333;
    margin-bottom: 40px;
  }
  .data-img {
    margin: 0 10px;
    width: 100%;
    overflow-x: hidden;
    .data-img-inside {
      max-width: 100%;
      height: auto;
    }
  }
  
  .berry-link {
    margin: 80px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    span {
      color: #a58aff;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
    }
  }
  

  @media (max-width: 991px){
    .data-feed-top {
        .six-boxes {
            .inside-box {
                margin-left: 0;
            }
          }
    }
}

@media (max-width: 767px){
    .data-feed-top {
        .main-heading{
            font-size: 20px;
        }    
        .low-heading{
            font-size: 20px;
        }
        .six-boxes {
            .inside-box {
              background: #fff;
            }
          }
        
    }
}