*, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.notice-bar {
  color: #590289;
  line-height: 30px;
  background: rgba(255, 150, 0, 0.2);
  font-size: 12px;
  text-align: center;
  padding: 0 16px;
}

.notice-bar img {
  width: 12px;
  height: 12px;
  cursor: pointer;
  margin: 0 0 4px 0;
}

.navbar {
  background: #fff;
}

.nav-item:first-child {
  margin-left: 35px;
}

.nav-item {
  margin-right: 60px;
  padding-top: 6px;
}

.nav-link {
  font-size: 18px;
  line-height: 18px;
  color: #666;
  padding: 0 !important;
  border-bottom: 1.5px solid #fff;
}

.nav-link:hover {
  color: #0056b3 !important;
  border-bottom: 1.5px solid #0056b3;
}

.nav-link-active {
  color: #0062ccd6 !important;
}

.nav-item-unlock-wallet {
  width: 170px;
  font-size: 18px;
  word-break: keep-all;
  white-space: nowrap;
  text-align: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  background: #0062ccd6;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
}

.nav-item-unlock-wallet:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  background: #590289;
  padding: 40px 0;
  color: #fff;
}

.footer-text1 p {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.footer-text2 p {
  font-size: 16px;
  font-weight: 500;
}

.footer-icon-box img {
  margin-bottom: 20px;
}

.footer-icon-box p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer-icon-box p a {
  color: #fff;
}

.footer-icon-box p a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .notice-bar {
    text-align: left;
    padding: 0 8px;
    line-height: 20px;
  }
  .nav-item:first-child {
    margin-left: 0;
  }
  .nav-item {
    margin-right: 0;
    margin-top: 20px;
  }
  .nav-link {
    display: inline;
  }
  .navbar {
    text-align: center;
  }
  .navbar form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .nav-item-unlock-wallet {
    margin-top: 20px;
    width: 100%;
  }
}

.home-banner {
  background: #fff;
}

.header-1 {
  font-size: 60px;
  font-weight: 700;
}

.home-page .home-about {
  margin-bottom: 70px;
}

.home-page .home-about p {
  color: #333333;
}

.home-page .home-about .about-section-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .home-about .about-section-txt .about-section-header {
  margin-bottom: 25px;
}

.home-page .home-about .about-section-txt span {
  color: #a58aff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.home-page .home-about .home-about-box .img-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .home-about .home-about-box .home-about-sub-heading {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 1;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.home-page .home-about .home-about-box .home-about-box-description {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 20px auto 0;
  max-width: 217px;
}

.home-page .how-it-works-section {
  background: #fff url(../images/photos/how-it-works-bg.png) 50% no-repeat;
  background-size: cover;
  min-height: 920px;
}

.home-page .how-it-works-section .how-it-works {
  padding-bottom: 40px;
}

.home-page .how-it-works-section .how-it-works .home-work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.home-page .how-it-works-section .how-it-works .home-work-item .back1 {
  background: url(../images/photos/back1.png);
  background-size: cover;
}

.home-page .how-it-works-section .how-it-works .home-work-item .back2 {
  background: url(../images/photos/back2.png);
  background-size: cover;
}

.home-page .how-it-works-section .how-it-works .home-work-item .back3 {
  background: url(../images/photos/back3.png);
  background-size: cover;
}

.home-page .how-it-works-section .how-it-works .home-work-item .back4 {
  background: url(../images/photos/back4.png);
  background-size: cover;
}

.home-page .how-it-works-section .how-it-works .home-work-item .home-work-item-box {
  border-radius: 20px;
  padding: 40px 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: 0 0 20px #ccd2fe;
          box-shadow: 0 0 20px #ccd2fe;
}

.home-page .how-it-works-section .how-it-works .home-work-item .home-work-item-box .how-it-works-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
}

.home-page .how-it-works-section .how-it-works .home-work-item .home-work-item-box .how-it-works-numbers .number {
  font-size: 50px;
  color: #333;
  font-weight: 700;
}

.home-page .how-it-works-section .how-it-works .home-work-item .home-work-item-box .how-it-works-numbers .desc {
  font-size: 16px;
  color: #964a96;
  margin-left: 50px;
}

.home-page .how-it-works-section .how-it-works .home-work-item .home-work-item-box .how-it-works-details {
  margin-top: 30px;
  font-size: 14px;
  line-height: 2;
}

.home-page .how-it-works-section .how-it-works .more-action {
  margin: 80px auto 0;
  text-align: center;
  cursor: pointer;
  color: #a58aff;
  font-size: 18px;
}

.home-page .token-model .token-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .token-model .token-box-row .token-box-item {
  max-width: 340px;
}

.home-page .token-model .token-box-row .token-box-item h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
  color: #964a96;
}

.home-page .token-model .mid-logo-box {
  position: relative;
  text-align: center;
  font-size: 0;
  margin: -30px auto;
}

.home-page .token-model .mid-logo-box .abs-img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home-page .token-model .more-action {
  margin: 70px auto 50px;
  text-align: center;
  cursor: pointer;
  color: #a58aff;
  font-size: 18px;
}

@media (max-width: 991px) {
  .home-page .token-model .token-box-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page .token-model .token-box-row .token-box-item {
    max-width: 100%;
    text-align: center;
  }
  .home-page .token-model .token-box-row .token-box-item h3 {
    text-align: center;
  }
  .home-page .token-model .token-box-row .token-box-item p {
    text-align: center;
  }
  .home-page .token-model .token-box-row .first-item-box {
    margin-bottom: 30px;
  }
  .home-page .token-model .mid-logo-box {
    margin: 30px auto;
  }
}

@media (max-width: 767px) {
  .header-1 {
    font-size: 20px;
  }
}

.top-form .main-heading {
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
}

.top-form .link {
  color: #a58aff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0 20px 0;
}

.two-boxes {
  margin: 10px 40px 50px;
}

.two-boxes .big-box {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eaecff));
  background: linear-gradient(180deg, white, #eaecff);
  -webkit-box-shadow: 0 0 20px #ccd2fe;
          box-shadow: 0 0 20px #ccd2fe;
  border-radius: 18px;
  width: 100%;
  min-height: 842px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  color: #333;
  margin-bottom: 20px;
  position: relative;
}

.two-boxes .big-box .corner-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 108px;
  height: 108px;
  text-align: center;
  line-height: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #fff url(../images/icons/corner.png) 0 0;
  border-top-right-radius: 18px;
}

.two-boxes .big-box .corner-box span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform: translate(18px, 20px);
          transform: translate(18px, 20px);
  font-size: 25px;
}

.two-boxes .big-box .longer span {
  font-size: 14px;
}

.two-boxes .big-box .farm-top-text {
  margin-top: 34px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
}

.two-boxes .big-box .farm-image-box {
  text-align: center;
}

.two-boxes .big-box .farm-image-box img {
  width: 100%;
  max-width: 300px;
}

.two-boxes .big-box .inside {
  padding: 0 24px;
}

.two-boxes .big-box .inside .flexx-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.two-boxes .big-box .inside .flexx-2 span {
  font-size: 14px;
  color: #666666;
}

.two-boxes .big-box .inside .flexx-2 .view {
  color: #a58aff;
  font-size: 18px;
  font-weight: 700;
}

.two-boxes .big-box .out-button {
  width: 200px;
  height: 40px;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 38px;
  border: 1px solid #590289;
  border-radius: 41px;
  margin-right: 16px;
  margin-top: 36px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
}

.two-boxes .big-box .white-box {
  width: 100%;
  margin: auto;
  height: 206px;
  border-radius: 19.6px;
  background-color: white;
  -webkit-box-shadow: 0 3px 10px #bdc5fce1;
          box-shadow: 0 3px 10px #bdc5fce1;
  padding: 30px 20px;
}

.two-boxes .big-box .white-box .flexx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.two-boxes .big-box .white-box .flexx span {
  color: #666;
  line-height: 1;
  font-size: 14px;
}

.two-boxes .big-box .butto {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 60px;
  border-radius: 57px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  cursor: pointer;
}

.two-boxes .big-box .lime {
  background-color: #48c8d4;
}

.two-boxes .big-box .dark {
  background-color: #333333;
}

@media (max-width: 1250px) {
  .two-boxes .big-box .butto {
    width: 185px;
  }
}

@media (max-width: 767px) {
  .top-form .main-heading {
    font-size: 20px;
  }
  .two-boxes {
    margin: 10px 0 50px;
  }
  .two-boxes .big-box .btn-m-down {
    margin-bottom: 20px;
  }
  .two-boxes .big-box .butto {
    width: 100%;
  }
}

.data-feed-top {
  background-size: cover;
  min-height: 960px;
  padding-top: 60px;
  background: #fff url(../images/photos/dataFeed.png) 50% no-repeat;
}

.data-feed-top .main-heading {
  font-size: 60px;
  font-weight: 700;
}

.data-feed-top .six-boxes .inside-box {
  height: 263px;
  border-radius: 12px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f5ff));
  background: linear-gradient(180deg, #fff, #f4f5ff);
  -webkit-box-shadow: 0 0 20px #ccd2fe;
          box-shadow: 0 0 20px #ccd2fe;
  border-radius: 18px;
  margin-left: 20px;
}

.data-feed-top .six-boxes .inside-box .first {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #590289;
  text-align: center;
}

.data-feed-top .six-boxes .inside-box .second {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-top: 50px;
  text-align: center;
  line-height: 1;
}

.data-feed-top .six-boxes .inside-box .third {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1;
  margin-top: 50px;
}

.data-feed-top .six-boxes .inside-box .fourth {
  margin-top: 30px;
  overflow: hidden;
}

.data-feed-top .six-boxes .inside-box .fourth .icon-in {
  margin-right: 10px;
  width: 33px;
  height: 33px;
  -o-object-fit: contain;
  object-fit: contain;
}

.data-feed-top .six-boxes .inside-box .more-feeds {
  font-size: 20px;
  line-height: 48px;
  color: #333;
  text-align: center;
}

.sub-heading {
  font-size: 16px;
}

.low-heading {
  font-size: 60px;
  color: #333;
  margin-top: 2px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1;
}

.mid-heading {
  text-align: center;
  line-height: 1;
  color: #333;
  margin-bottom: 40px;
}

.data-img {
  margin: 0 10px;
  width: 100%;
  overflow-x: hidden;
}

.data-img .data-img-inside {
  max-width: 100%;
  height: auto;
}

.berry-link {
  margin: 80px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.berry-link span {
  color: #a58aff;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.img-fluid {
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .data-feed-top .six-boxes .inside-box {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .data-feed-top .main-heading {
    font-size: 20px;
  }
  .data-feed-top .low-heading {
    font-size: 20px;
  }
  .data-feed-top .six-boxes .inside-box {
    background: #fff;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 360px;
  max-width: 80%;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  z-index: 999;
}

.box-popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.box-popup-header {
  padding: 12px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e9eaeb;
}

.box-popup-header .title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: #452a7a;
  margin-bottom: 0;
}

.box-popup-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 51;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.the-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

.the-list .the-list-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff4f5;
  border: 0;
  border-radius: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1fc7d4;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  line-height: 1;
  letter-spacing: .03em;
  outline: 0;
  padding: 0 24px;
  -webkit-transition: background-color .2s ease 0s;
  transition: background-color .2s ease 0s;
  opacity: 1;
  margin-bottom: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.the-list .the-list-item img {
  width: 32px;
}

.the-list .the-last-list-item {
  color: #1fc7d4;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

#box-popup-farm {
  width: 400px;
  max-width: 90%;
  padding: 30px 20px 0;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaecff));
  background: linear-gradient(180deg, #fff, #eaecff);
  -webkit-box-shadow: 0 0 20px #ccd2fe;
          box-shadow: 0 0 20px #ccd2fe;
}

#box-popup-farm .popup-topheader {
  position: relative;
}

#box-popup-farm .popup-topheader .popup-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

#box-popup-farm .popup-topheader .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3.25rem;
  font-weight: bold;
  color: #9d9e9e;
  position: absolute;
  top: -35px;
  right: 0;
}

#box-popup-farm .switch {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 50px;
  padding: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  border-radius: 50px;
  background-color: #590289;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#box-popup-farm .switch .switch-val {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: center;
}

#box-popup-farm .switch .switch-btn {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  cursor: pointer;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
}

#box-popup-farm .switch.done {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#box-popup-farm .popup-info {
  margin-top: 20px;
  background: #fff;
  padding: 30px 20px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px #ccd2fe;
          box-shadow: 0 0 20px #ccd2fe;
}

#box-popup-farm .popup-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  line-height: 1;
  margin-bottom: 25px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box-popup-farm .popup-flex .sp1 {
  width: 100px;
}

#box-popup-farm .popup-flex .ipt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#box-popup-farm .popup-flex .sp3 {
  margin-left: auto;
  width: 90px;
  height: 37px;
  border-radius: 37px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background-color: #590289;
}

#box-popup-farm .popup-action {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#box-popup-farm .popup-action .popup-btn {
  width: 175px;
  height: 60px;
  font-size: 18px;
  border-radius: 60px;
  background-color: #48c8d4;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */
